*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Helvetica, Arial sans-serif;
}

h1, h2 {
    margin: 0;
}

button {
    display: block;
}

.header,
.main {
    padding: 24px;
}

.main,
.main__content {
    display: flex;
}

.main {
    flex-direction: column;
}

.main__content {
    max-width: 1600px;
    justify-content: space-evenly;
}

.generate-object-button {
    width: fit-content;
    margin-bottom: 40px;
}

.test-schema-container,
.random-object-container {
    display: inline-block;
    height: 700px;
    width: 40%;
    overflow: auto;
    border: 2px solid #000;
    padding: 16px;
}

